<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SFDCSuite">
	<listeners>
		<listener class-name="com.Salesforce.utilities.SFDCListenerUtilities"></listener>
	</listeners>
  <test name="LoginTest">
	   <parameter name="browserName" value="chrome"></parameter>
    <classes>
      <class name="com.Salesforce.Automation.Salesforcelogin"/>
    </classes>  
     
  </test> <!-- LoginTest --> 
  
</suite> <!-- SFDCSuite -->
